<!DOCTYPE html>
<HTML lang="en">

<HEAD>
    <TITLE>HBNB</TITLE>
</HEAD>

<BODY>
    {% if id == None %}
    <H1>States</H1>
    <UL>
        {% for state in states | sort(attribute='name') %}
        <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
        {% endfor %}
    </UL>
    {% elif state_obj is not none%}
    <h1>State: {{state_obj.name}}</h1>
    <h3>Cities:</h3>
    <UL>
        {% for city in state_obj.cities | sort(attribute='name') %}
        <li>{{city.id}}: <b>{{city.name}}</b></li>
        {%endfor%}
    </UL>
    {% else %}
    <H1>Not found!</H1>
    {% endif %}
</BODY>

</HTML>